.idea
.gradle
target
gen
build
classes
*.iml
*.ipr
*.iws
*.*~
.DS_Store
log.roo
out
src/main/java/com/thoughtworks/pumpkin/helper/Keys.java
gen-external-apklibs
extras/mapbox/cache
extras/mapbox/export
