<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoughtworks.pumpkin"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".PumpkinApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PumpkinTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SigninActivity" />
        <activity android:name=".FacebookLoginActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".ShelfActivity" />
        <activity android:name=".ZipCodeActivity" />
        <activity android:name=".HomePageActivity" />
        <activity
            android:name=".ViewBooksActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".TwitterLoginActivity" />
    </application>
</manifest>

